/* CSS for the DialogBox component */
.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dialog-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    max-height: 602px;
    
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .form-field {
    flex: 1;
    margin: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    margin-left: 10px;
  }
  
  button:last-child {
    background-color: #ccc;
    color: #333;
  }
  form{
    max-height: 506px;
    overflow-x: hidden;
    margin-top: 25px;
  }
  